/* color palette from <https://github.com/vuejs/theme> */
:root {
  --main-lblue: #CEE7E6;
  --main-grey: #BFC0C0;
  --main-dgreen: #648767;
  --main-green: #7DC95E;
  --main-lgreen: #7CDF64;
  --main-blue: #0096c1;
  --main-orange: #f87242;
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}


