@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,700;1,400&family=Oswald:wght@400;700&family=Raleway&family=Roboto&display=swap');

body {
  min-height: 100vh;
  color: black;
  background: white;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.8;
  font-size: 18px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1200px;
  margin: auto;
}

section {
  padding: 60px 10px;
  text-align: center;
}

h1, h2, h3 {
  font-family: "Roboto";
  font-weight: 600;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3.44rem;
}

h3 {
  font-size: 1.33rem;
}

p {
  font-family: 'Bitter';
}

a, a:hover {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.btn {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.btn:hover,
.btn:focus {
  background-color: #ff7e27;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.btn:hover {
  transform: translateY(-1px);
}

.btn:active {
  background-color: #ff7e27;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}